<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Webapp研修＿ログイン画面</title>
</head>
<body>
  <h1>シフト管理システム</h1>
  <h2>ユーザー変更(あなたは<%- username %>さんとしてログインしています)</h2>
  <form action="/login" method="POST">
    <label>ユーザー名：
      <input type="text" name="name" required pattern="[a-z]+" title="小文字英字">
    </label><br>
    <label>パスワード：
      <input type="password" name="password" required pattern="[a-z]+" title="小文字英字または数字">
    </label><br>
    <button type="submit" style="font-size: 18px; padding: 10px 20px; width: 30%;">送信</button>
  </form>
</body>
</html>