<!DOCTYPE html>
<html lang="ja">
<head><meta charset="UTF-8"><title>エラー</title></head>
  <body>
    <h1>エラー</h1>
    <p><%- message %></p>
    <form action=<%- link %> method="GET">
      <button type="submit" style="font-size: 18px; padding: 10px 20px; width: 30%;"><%- place %>へ戻る</button>
    </form>
  </body>
</html>